body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 236, 236);
}

nav {
    background-color: white;
    height: 100px;
}

header,
table {
    align-items: center;
    margin: 60px auto;
    margin-bottom: 29px;
}

.container {
    text-align: center;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    padding: 30px;
    margin-top: 20px;
    font-size: 15px;
    color: black;
}

a:hover {
    background-color: lightgray;
}

section {
    border: 2px solid rgb(201, 195, 195);
    background-color: white;
    margin-left: 12rem;
    margin-right: 12rem;
}

#formAdult,
#formWaist {
    visibility: hidden;
    margin-left: 0px;
    margin-top: -290px;
    padding-top: 0;
}

#formWaist {
    margin-top: -200px;
}

form {
    padding: 30px;
    text-align: start;
    margin-bottom: 70px;
}

form>div {
    margin-bottom: 10px;
}

.box {
    margin-left: 50px;
}

.box1 {
    margin-left: 85px;
}

.box2 {
    margin-left: 43px;
}

.box3 {
    margin-left: px;
}

button {
    margin-left: 138px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 20px;
}