* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  letter-spacing: inherit;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.nav-top {
  background: #222427;
  padding-left: 25rem;
  justify-content: space-evenly;
}

.nav-top-ul {
  display: flex;
  flex-wrap: wrap;
}



.nav-top > input {
  margin-right: 23rem;
  text-transform: capitalize;
  height: 30px;
  align-items: center;
}

.nav-top-ul > li > a {
  color: white;
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 1px;
  justify-content: center;
}

.hamburger {
    display: none;
}
.hamburger:focus {
  outline: none;
}

.links > a:hover {
  color: red;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  margin-right: 23em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 14px;
}

.nav-links > li > a {
  list-style-type: none;
  text-decoration: none;
  padding-left: 14px;
  color: black;
}

.header-bottom > img {
  margin-left: 23em;
  margin-top: 20px;
  height: 90px;
}

#hamburger {
  color: red;
  font-size: 30px;
  cursor: pointer;

  align-items: center;
}

@media screen and (max-width: 1300px) {

  .header-bottom > img {
    margin-left: 10rem;
    margin-top: 20px;
    height: 90px;
  }
  .nav-top > input {
    padding: 2px;
    text-transform: capitalize;
    height: 30px;
    margin-top: 140px;
  }

  .nav-top-ul {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-right: 10rem;
  }

  .hamburger {
      display: flex;
      padding-right: 10rem;
  }

  .nav-top-ul.show  {
    display: flex;
}

  
}

.container_table {
  display: flex;
  cursor: pointer;
  margin-left: 15%;
  margin-right: 15%;
}

.table {
  width: 80%;
}

.b > td {
  width: 200px;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

td > a {
  text-decoration: none;
  color: black;
}

ul > li {
  font-size: 16px;
  margin-bottom: 16px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.side-a {
  width: 20%;
}

.side-a > li > a {
  text-decoration: none;
  color: black;
}

.side-a > li > a:hover {
  text-decoration: underline;
}

.fa-address-book {
  color: rgb(226, 35, 226);
  font-size: 25px;
  padding-right: 10px;
}

.fa-cogs {
  color: red;
  font-size: 25px;
  padding-right: 10px;
}

.fa-calculator {
  color: black;
  font-size: 25px;
  padding-right: 10px;
}

.fa-coffee {
  color: rgb(51, 109, 148);
  font-size: 25px;
  padding-right: 10px;
}

.fa-clipboard {
  color: rgb(98, 216, 157);
  font-size: 25px;
  padding-right: 10px;
}


/* Slider */

.wrap {
    position: relative;
    text-align: center;
    height: 50vh;
    overflow-y: hidden;
    margin-left: 23rem;
    margin-right: 20rem;
    margin-top: 30px;
}

.slide-content {
    height: 50vh;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    color: rgb(205, 50, 50);
    font-weight: 700;

}

.slide {
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url(/img/1.jpg);
}

.slide2 {
    background-image: url(/img/2.jpg);
}

.slide3 {
    background-image: url(/img/3.jpg);
}

.slide4 {
    background-image: url(/img/4.jpg);
}

.arrow {
    cursor: pointer;
    position: absolute;
    color: rgb(133, 39, 39);
    top: 50%;
 
}

#slider {
    overflow-x: hidden;
}

#arrow-left {
    left:0;
    font-size: 60px;
    padding-left: 50px;
}

#arrow-right {
    right: 0;
    font-size: 60px;
    padding-right: 50px;
}

